In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
import pickle

### Import and process the data

In [2]:
mp = pd.read_csv('Data/Outputs/mushed.csv')
flights = pd.read_csv('Data/Outputs/flights.csv')
flights.drop(['Unnamed: 0', 'ItinID', 'MktID',
       'Quarter',  'OriginWac',  'DestWac', 
       'ContiguousUSA', 'NumTicketsOrdered'], axis=1, inplace=True)
flights[['departure','arrival']] = flights[['departure','arrival']].astype(np.datetime64)
mpa = mp[mp['iata'].isin(flights['Origin'].unique())]
mpa.drop(['country', 'Unnamed: 0'], inplace=True, axis=1)
ports = mpa[mpa['category']=='Airport']

/var/folders/gh/lf0mc7p936xfvjr53gs0s95m0000gn/T/ipykernel_22396/511557574.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mpa.drop(['country', 'Unnamed: 0'], inplace=True, axis=1)

In [83]:
with open('Data/Outputs/new_clusters', 'rb') as file:
    clusters = pickle.load(file)

### Search function peudocode:

   **search_func**(_from, to, dates_range_):<br>
        get direct flight if available</p>
        limit the search by _dates_range_<br>
        get label of from<br>
        get label of to<br>
        get all in label of to<br>
        get all in label of from<br>
        get all flights from _all_from_ to _all_to_ from the flights data set<br>
        return **n** cheapest combinations

### Search functioin

In [107]:
def search(fr, to, start, stop):    
    '''Search the flight data to find flights from origin 'fr' to destination 'to' and
       cheapest flights from and to the respecting clusters in the time range 'start'-'stop'.
        Start and stop dates are str in format YYYY-MM-DD.
        'fr' and 'to' are strings of airport abbreviations like 'LAX'. 
        Returns dict of direct and indirect flights dataframes.'''    
    # Search criteria
    start = np.datetime64(start)
    stop = np.datetime64(stop)    
    # Get direct flights
    dir_fl = flights[(flights['departure']<stop)
                     &(flights['departure']>start)
                     &(flights['Origin']==fr)
                     &(flights['Dest']==to)]
    # Get indirect flights
    all_from = clusters[fr]
    all_to = clusters[to]
    all_options = flights[(flights['departure']<stop)
                      &(flights['departure']>start)
                      &(flights.Origin.isin(all_from))
                      &(flights.Dest.isin(all_to))]
    
    return {'direct':dir_fl, 'indirect':all_options.nsmallest(20,'PricePerTicket')}

### Test the function once with arbitrary parameters.

In [ ]:
# Run this sell to set travel parameters :)

f = input("Add the origin: ")
f = f.upper()
t = input("Add destination: ")
t = t.upper()
date = input("Add the day in format MM DD: ")
assert int(date[:2])<=12, "Max MM is 12."
assert int(date[3:])<=30, "Max DD is 28."
date = '2020-' + date.replace(' ', '-')
tolerance = input("Add number of tolerance in days: ")
start = np.datetime64(date) - np.timedelta64(int(tolerance))
stop = np.datetime64(date) + np.timedelta64(int(tolerance))

In [145]:
res = search(f, t, start, stop)
res['direct']

,AIRPORT,CITY,STATE,LATITUDE,LONGITUDE,Origin,Dest,Miles,AirlineCompany,PricePerTicket,departure,arrival
1199115,Burbank-Glendale-Pasadena,Burbank,CA,34.200619,-118.358497,BUR,SAT,1211.0,WN,133.5,2020-05-10,2020-05-10 02:01:00

In [143]:
res['indirect'].iloc[:5]

,AIRPORT,CITY,STATE,LATITUDE,LONGITUDE,Origin,Dest,Miles,AirlineCompany,PricePerTicket,departure,arrival
4503429,Los Angeles International,Los Angeles,CA,33.942536,-118.408074,LAX,AUS,1242.0,DL,51.0,2020-05-08 17:20:00,2020-05-08 19:24:00
9003728,John Wayne Orange Co,Santa Ana,CA,33.675659,-117.868223,SNA,AUS,1209.0,F9,54.0,2020-05-09 02:04:00,2020-05-09 04:04:00
4503430,Los Angeles International,Los Angeles,CA,33.942536,-118.408074,LAX,AUS,1242.0,DL,57.0,2020-05-08 18:33:00,2020-05-08 20:37:00
6424395,Ontario International,Ontario,CA,34.056000,-117.601194,ONT,AUS,1196.0,F9,59.0,2020-05-03 05:23:00,2020-05-03 07:22:00
6424396,Ontario International,Ontario,CA,34.056000,-117.601194,ONT,AUS,1196.0,F9,59.0,2020-05-04 00:51:00,2020-05-04 02:50:00

#### Test if i can find cheaper alternative for more than 0.7 of flights that cost more than 200$

merge area nad accomodation cost to the flights?

slice flights more than 200$ assign it to 'Search' df add a column alt_price, and AirBnB

Find alternatives 
get average price of alternatives as an alt_price at the row
if no alternative alt_price = 0
search for the room price in the area fill it in AirBnB col, else add q_price, else add 0.

In [99]:
Search = flights[flights['PricePerTicket']>200.0].nlargest(36, 'PricePerTicket')

In [100]:
Search[['alt_price','AirBnB']]=0

In [101]:
Search.reset_index(inplace = True)
Search.head()

,index,AIRPORT,CITY,STATE,LATITUDE,LONGITUDE,Origin,Dest,Miles,AirlineCompany,PricePerTicket,departure,arrival,alt_price,AirBnB
0,68438,Ted Stevens Anchorage International,Anchorage,AK,61.174320,-149.996186,ANC,DEN,2405.0,UA,1000.0,2020-10-26 15:36:00,2020-10-26 19:36:00,0,0
1,72807,Ted Stevens Anchorage International,Anchorage,AK,61.174320,-149.996186,ANC,IAH,3266.0,UA,1000.0,2020-11-24 18:34:00,2020-11-25 00:00:00,0,0
2,174269,William B Hartsfield-Atlanta Intl,Atlanta,GA,33.640444,-84.426944,ATL,DEN,1199.0,DL,1000.0,2020-01-27 03:35:00,2020-01-27 05:34:00,0,0
3,185288,William B Hartsfield-Atlanta Intl,Atlanta,GA,33.640444,-84.426944,ATL,DFW,731.0,AA,1000.0,2020-03-01 10:11:00,2020-03-01 11:24:00,0,0
4,404505,William B Hartsfield-Atlanta Intl,Atlanta,GA,33.640444,-84.426944,ATL,PHL,666.0,AA,1000.0,2020-10-08 08:39:00,2020-10-08 09:45:00,0,0

In [102]:
frl=Search.Origin
tol=Search.Dest

In [103]:
startl = Search['departure'].apply(lambda x: x - np.timedelta64(5, 'D'))

In [104]:
endl = Search['arrival'].apply(lambda x: x + np.timedelta64(5, 'D'))

In [105]:
import time
strat=time.time()

monster = [search(a,b,c,d)['indirect'] for a, b, c, d in zip(frl,tol,startl,endl)]

sotp = time.time()
elapsed=sotp-strat
print(elapsed)

53.38128995895386

In [106]:
len([i for i in monster if not i.empty])

22

In [111]:
with open('Data/Outputs/monster', 'wb') as file:
    pickle.dump(monster, file)

In [153]:
# get airbnb
dest='AUS'
mpa[mpa['iata']==dest].q_price.values[0]

64.0

In [163]:
# get flight price
sched = 10
monster[sched].nsmallest(5, 'PricePerTicket').PricePerTicket.mean()

95.452